*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  /* font-weight: weight; */
  font-style: normal;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
    background-image:linear-gradient( to left,#7b337e, black);
}
.nav-bar{
    width:97%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap:30px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top:5px;
    padding-right:10px;
}
.home-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.home-bar h5{
    font-size: 17px;
    padding: 10px;
    color:black;
}
select{
    background-color: transparent;
    font-size: 17px;
    padding: 10px;
    border: none;
}
.home-bar button{
    width:100px;
    padding:5px;
    color:white;
    background-color: purple;
    font-size: 17px;
    border: none;
    outline: none;
    border-radius: 7px;
}
video{
    width: 100%;
    height: 750px;
    object-fit: cover;
}
.flexvideo{
    width:100%;
    height:350px;
    object-fit: cover;
}
.video-content{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    position: absolute;
    top:40%;
}
h1{
    color: lightgray;
    font-size: 50px;
}
h2{
    color: white;
    top:400px;
    font-size: 30px;
}
h5{
    color:white;
}

p{
    color:white;
}
.btn {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.btn .btn1{
    width:150px;
    padding:10px;
    border-radius: 5px;
    color:white;
    background-color:purple;
    border: none;
    font-size: 15px;
}
.btn .btn2{
    width:150px;
    padding:10px;
    border-radius: 5px;
    color:white;
    background-color: transparent ;
    border:1px solid white;
    font-size: 15px;
}
.content{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding:20px;
}
.content h1{
    font-size: 30px;
}
.content p{
    color: white;
}
.flex-content{
    width:90%;
    box-shadow: 0 4px 10px 0 rgb(149, 210, 199), 4px 8px 20px 0 rgba(101, 163, 162, 0.99);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:10px;
}
.flex-content1{
    background-image:linear-gradient(blueviolet, purple,);
    width:420px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 10px;
}
.flex-content1 h4{
    color: pink;
}
.flex-content1 h4>i{
    color:pink;
    font-size: 15px;
    padding:10px;
}
.flex-content2{
    background-color: black;
    width:420px;
    height: 350px;
}
.flex-content2 img{
    width:100%;
    height: 350px;
    object-fit: cover;
}
.para{
    height: 300px;
    color:grey;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    padding: 10px;
}
.para h5{
    width:60%;
    line-height: 20px;
    word-spacing: 7px;
    padding: 10px;
}
.background-image{
    width:100%;
    height:400px;
    background-image: url(https://i.pinimg.com/1200x/ca/e9/24/cae924ed8ec24c33d70f48a73875ccfe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
.background-image h1{
    color: black;
    font-size: 40px;
}
.input-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width:350px;
    padding: 13.5px;
    background-color: white;
    border: none;
    border-radius: 5px;
    border-bottom-right-radius:0;
    border-top-right-radius: 0;
    outline: none;
}
input::placeholder{
    color:grey;
    font-size: 15px;
}
.input-div button{
    width:100px;
    padding: 10.5px;
    color:black;
    background-color: blueviolet;
     border: none;
    border-radius: 5px;
    border-bottom-left-radius:0;
    border-top-left-radius: 0;
    outline: none;
    font-size: 18px;
}
.cards{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
}
.card1 ,.card2, .card3{
    width:350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(5deg, rgba(255,0,0,0), blueviolet);
}
.card2{
     background-image: linear-gradient(5deg, rgba(255,0,0,0), rgb(148, 49, 66));   
 }
 .card3{
     background-image: linear-gradient(5deg, rgba(255,0,0,0), rgb(235, 164, 72));
     color: white;   
 }
.card1, .card2, .card3 h2{
    color: white;
}
.card1 h4>i, .card h4>i, .card3 h4>i{
    color: white;
    font-size: 17px;
    padding: 10px;
}
.card1 h4, .card2 h4, .card3  h4{
    font-size: 17px;
    color: white;
}
.para2{
    width:60%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.para2 i{
    color: lightgray;
    font-size: 40px;
}
.para2 h3{
    color: white;
}
.para2 h2{
    padding-top: 30px;
    color:white;
}
.card01{
    width:350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
.card01 h2{
     color:white;
}
.card01 p{
    color:white;
}
.card01 button{
    width:200px;
    padding:10px;
    color:blueviolet;
    border: none;
    border-radius: 5px;
    background-color: white;
}
.card02{
    width:350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap:20px;
}
.card02 img{
    width:100%;
    height:150px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
.card02 h2{
    color:white;
}
.card02 p{
    color: white;
}
.card02 h4{
    color: pink;
}
.card02 h4>i{
    color:pink;
    padding: 10px;
}
.blog-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
.blog-content h3{
    color: white;
}
.blog-content p{
    color: white;
}
.card001{
    width:350px;
    height: 380px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card001 img{
    width:100%;
    height:200px;
    border-radius: 7px;
}
.card001 h3{
    color:white; 
}
.card001 h4{
    color:pink;
}
.card001 h4>i{
    color: pink;
    font-size: 17px;
}
.card001 p{
    color: white;
}
.card002{
    width:350px;
    height: 350px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer{
    min-height: 200px;
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
}
.temp{
    width: 300px;
    min-height: 155px;
    /* background-color: lightsalmon; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap:20px;
}
.temp h2{
    color:white;
}
.temp p{
    color: white;
}
h4{
    color:white;
}
.phone{
    width: 300px;
    min-height: 155px;
    /* background-color: lightskyblue; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap:20px;
}
.phone p{
    color:white;
}
.phone h4,.email h4{
    color: white;
}
.email{
    width: 300px;
    min-height: 155px;
    /* background-color:lightcyan; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap:20px;
}
.email p{
    color: white;
}
.social{
    width: 300px;
    min-height: 155px;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap:20px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: start;
    gap:20px;
}
.icon i{
    width:50px;
    height: 50px;
    border-radius: 50%;
    color:blueviolet;
    font-size: 30px;
    padding-top:10px;
    background-color: white;
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
    .flex-content2{
        width:359px;
    }
    .flex-content1{
        width:358px;
    }
    .flex-content {
        width:85%;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .flex-content2{
        width:326px;
    }
    .flex-content1{
        width:326px;
    }
    .flex-content {
        width:85%;
    }
    .card001{
        width:310px;
    }
    .blog-content{
        width:90%;
    }
    .cards{
        width:92%;
    }
    .card1, .card2, .card3{
        width:347px;
        height:300px;
    }
    .card02 {
        width:340px;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .flex-content2{
        width:248px;
        height:287px;
    }
    .flex-content2 img {
        width:100%;
        height:287px;
    }
    .flex-content1{
        width:248px;
        height:287px;
    }
    .flex-content {
        width:85%;
    }
    .flexvideo{
        height:287px;
    }
    .card001{
        width:257px;
    }
    .blog-content{
        width:90%;
    }
    .cards{
        width:92%;
    }
    .card1, .card2, .card3{
        width:281px;
        height:300px;
    }
    .card02 {
        width:222px;
    }
}
@media only screen and (min-width:800px) and (max-width: 1000px) {
    .flex-content2{
        width:230px;
        height:265px;
    }
    .flex-content2 img {
        width:100%;
        height:265px;
    }
    .flex-content1{
        width:230px;
        height:265px;
    }
    .flex-content {
        width:90%;
    }
    .flexvideo{
        height:266px;
    }
    .card001{
        width:300px;
    }
    .blog-content{
        width:90%;
    }
    .cards{
        width:92%;
    }
    .card1, .card2, .card3{
        width:300px;
        height:300px;
    }
    .card02 {
        width:222px;
    }
    .card01{
        width:237px;
    }
}
@media only screen and (min-width:600px) and (max-width: 800px) {
    .flex-content2{
        width:274px;
        height:265px;
    }
    .flex-content2 img {
        width:100%;
        height:265px;
    }
    .flex-content1{
        width:252px;
        height:265px;
    }
    .flex-content {
        width:90%;
    }
    .flexvideo{
        height:266px;
    }
    .card001{
        width:300px;
    }
    .blog-content{
        width:90%;
    }
    .cards{
        width:92%;
    }
    .card02 {
        width:222px;
    }
    .card01{
        width:237px;
    }
    .para h5{
        width:90%;
    }
    .para2{
        width:90%;
    }
    .temp, .phone, .email, .social{
        width:281px;
    }
}
@media only screen and (min-width:400px) and (max-width: 600px) {
    .flex-content2{
        width:300px;
        height:265px;
    }
    .flex-content2 img {
        width:100%;
        height:265px;
    }
    .flex-content1{
        width:270px;
        height:265px;
    }
    .flex-content {
        width:90%;
    }
    .flexvideo{
        height:266px;
    }
    .card001{
        width:300px;
    }
    .blog-content{
        width:90%;
    }
    .cards{
        width:92%;
    }
    .card02 {
        width:300px;
    }
    .card01{
        width:300px;
    }
    .para h5{
        width:90%;
        height: 300px;
    }
    .para2{
        width:90%;
    }
    .temp, .phone, .email, .social{
        width:281px;
    }
    .video-content {
        width:85%;
    }
    .video-content h1{
        font-size: 35px;
    }
    .video-content h2{
        font-size: 20px;
    }
    input{
        width:250px;
    }
    .nav-bar{
        width:90%;
    }
    .home-bar select{
        display: none;
    }
    .background-image h1{
        font-size: 28px;
    }
}
@media only screen and (min-width:300px) and (max-width: 400px) {
    .flex-content2{
        width:300px;
        height:265px;
    }
    .flex-content2 img {
        width:100%;
        height:265px;
    }
    .flex-content1{
        width:270px;
        height:265px;
    }
    .flex-content {
        width:90%;
    }
    .flexvideo{
        height:266px;
    }
    .card001{
        width:300px;
    }
    .blog-content{
        width:90%;
    }
    .cards{
        width:92%;
    }
    .card02 {
        width:300px;
    }
    .card01{
        width:300px;
    }
    .para h5{
        width:90%;
        height: 300px;
    }
    .para2{
        width:90%;
    }
    .temp, .phone, .email, .social{
        width:281px;
    }
    .video-content {
        width:85%;
    }
    .video-content h1{
        font-size: 25px;
    }
    .video-content h2{
        font-size: 16px;
    }
    input{
        width:175px;
    }
    .nav-bar{
        width:90%;
    }
    .home-bar select{
        display: none;
    }
    .background-image h1{
        font-size: 25px;
    }
    .btn{
        flex-direction: column;
    }
    h2{
        font-size: 22px;
    }
}