*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.overall-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head{
     width:100%;
    display: flex;
    align-items: center;
    gap:20px;
    /* background-color: bisque; */
}
.head img{
    width:150px;
    height:100px;
}
.head h2{
    color:navy;
}
.nav-bar{
    width:600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: blueviolet; */
    color: grey;
}
.nav-bar .btn1{
    width:80px;
    color: navy;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 20px;
    border:none;
    margin-bottom: 4px;
}
.nav-bar .btn2{
    width:80px;
    color: white;
    background-color: navy;
     border-radius: 20px;
    border:none;
    padding: 10px;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 span{
    border-bottom: 3px solid navy;
    width:40px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.icon i{
    color: grey;
    font-size: 30px;
}
.background-image-box{
    display: flex;
    width:100%;
    height: 750px;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1501785888041-af3ef285b470?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dHJhdmVsJTIwbW91bnRhaW58ZW58MHx8MHx8fDA%3D);
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
/* .left-box{
    width:700px;
    height: 600px;
    background-color: cadetblue;
} */
.right-box{
    width:700px;
    min-height: 600px;
    /* background-color:blueviolet; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
    /* position: relative; */
}
.transperent-box{
    width:600px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 40px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap:30px;
}
.transperent-box h1{
    color: white;
    font-size: 50px;
}
.transperent-box p{
    color: white;
    width: 400px;
}
.input-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width:100%;
    padding: 15px;
    padding-right: 50px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 30px;
}
.icon1{
    color: grey;
    font-size: 20px;
    position: absolute;
    right: 21px;
    top:12px;
}
input::placeholder{
    color: gray;
    font-size: 17px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}
.icon2{
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    padding-top:4px;
}
.card img{
    width:500px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 10px solid white;
}
.small-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.card01{
    width:200px;
    height: 270px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    
}
.card01 img{
    width:100%;
    height: 130px;
    border-radius: 10px;
    object-fit: cover;
}
.card01 p{
    color: gray;
    font-size: 27px;
}
.card01 button{
    width: 90%;
    padding: 5px;
    border-radius: 20px;
    border: none;
    color: white;
     display: flex;
    justify-content: center;
    align-items: center;
    background-color:darkslateblue;
}
.card01 button>i{
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    padding-top:4px;
}
.card01 button>h4{
    width: 90px;
}
.card01 b{
      font-size: 20px;
}
.footer{
    width:100%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.footer i{
    color:white;
    font-size: 13px;
     width:25px;
    height: 25px;
    padding-top: 5px;

}
.footer .dddd{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    padding-top: 5px;

}
@media only screen and (min-width: 1300px) and (max-width: 1440px) {
    .transperent-box{
        width: 570px;
    }
    .right-box{
        width:570px;
    }
    .background-image-box{
        width:100%;
    }
    .card{
        gap:20px;
    }
    .overall-head{
        width:97%;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1300px) {
    .transperent-box{
        width: 510px;
    }
    .right-box{
        width:570px;
    }
    .card{
        gap:20px;
    }
    .background-image-box{
        width:100%;
    }
    .overall-head{
        width:97%;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1100px) {
   .transperent-box{
        width: 859px;
        margin-top:30px;
    }
    .right-box{
        width:970px;
    }
    .card{
        gap:20px;
    }
    .background-image-box{
        width:100%;
        min-height: fit-content;
    }
    .overall-head{
        width:90%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 900px) {
   .transperent-box{
        width: 649px;
        margin-top:30px;
    }
    .right-box{
        width:970px;
    }
    .card{
        gap:20px;
    }
    .background-image-box{
        width:100%;
        min-height: fit-content;
    }
    .overall-head{
        width:91%;
    }
    .nav-bar{
        display: none;
    }
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
   .transperent-box{
        width: 460px;
        margin-top:30px;
    }
    .right-box{
        width:510px;
    }
    .card{
        gap:20px;
    }
    .background-image-box{
        width:100%;
        min-height: fit-content;
    }
    .overall-head{
        width:91%;
    }
    .nav-bar{
        display: none;
    }
    .card img{
        width:401px;
    }
    .small-cards{
        flex-wrap: wrap;
    }
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
   .transperent-box{
        width: 400px;
        margin-top:30px;
    }
    .right-box{
        width:411px;
    }
    .card{
        gap:20px;
    }
    .background-image-box{
        width:100%;
        min-height: fit-content;
    }
    .overall-head{
        width:91%;
    }
    .nav-bar{
        display: none;
    }
    .card img{
        width:303px;
    }
    .small-cards{
        flex-wrap: wrap;
    }
    .head h2{
        display: none;
    }
    .transperent-box h1{
       font-size: 30px;
    }
}